<%
  page = "ticket"
  sub = 2
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i>KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control" value="DREAM STATION LIVE FOR NOW">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control" value="2017년 5월 27일">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control" value="난지 한강공원">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">
              ※ 매수제한 : 1인 4매&#13;&#10;
              ※ 일괄배송 : 5월 8일(월)&#13;&#10;
               현장의 혼잡함을 막기 위하여 결제일 기준 4월 30일까지  구매하신 티켓은 배송을 통한 구매만 가능합니다
            </textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">
              본 공연은 전석 비지정석입니다.&#13;&#10;
              티켓은 하나의 아이디당 4매까지 구매 가능합니다.&#13;&#10;
              본 공연은 만15세 이상(2002년 5월 28일 포함 이후 출생 입장불가) 입장이 가능합니다.&#13;&#10;
               관람연령으로 인한 입장불가 티켓은 환불, 취소 되지 않으니 이점 유의하시어 예매하시기 바랍니다.&#13;&#10;
               * 미성년자 본인확인 신분증 (사진과 생년월일 모두 확인)&#13;&#10;
              : 학생증 + 가족관계증명서, 학생증 + 의료보험증, 학생증 + 주민등록등본, 주민등록증, 여권 &#13;&#10;
                  (학생증만으로 신분 확인 불가)
            </textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i>JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->