<%
  page = "ticket"
  sub = 0
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>티켓 상품명</h3>
      </div>
      <div class="content">
        
        <div class="row">
          
          <!-- 상품1 -->
          <div class="col-sm-2 ticket-goods">
            <table class="table no-strip table-bordered board-table">
              <thead>
                <tr>
                  <th class="text-center"><span class="ticket-goods-head">상품1</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" placeholder="" class="form-control input-sm" value="General ticket" readonly></td>
                </tr>
              </tbody>
            </table>
            <!-- //table -->
          </div>
          <!-- //상품1 -->
          
          <!-- 상품2 -->
          <div class="col-sm-2 ticket-goods">
            <table class="table no-strip table-bordered board-table">
              <thead>
                <tr>
                  <th class="text-center"><span class="ticket-goods-head">상품2</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" placeholder="" class="form-control input-sm" value="Special Ticket" readonly></td>
                </tr>
              </tbody>
            </table>
            <!-- //table -->
          </div>
          <!-- //상품2 -->
          
        </div>
        <!-- //row -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>예매처</h3>
      </div>
      <div class="content">
        <div class="pull-right"> <span class="badge badge-warning"><i class="fa fa-asterisk"></i> 권장 이미지 사이즈 : 130 x 28</span> </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col style="width:200px">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">예매처명</th>
              <th class="text-center">예매처 로고</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ticket-site">
              <td><input type="text" placeholder="" class="form-control input-sm" value="YES24" readonly></td>
              <td>
                <img src="../../images/common/blank.png" alt="" data-src="https://imgur.com/8KjxCJ4.png" class="js-lazy-img js-toggle-img">
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[2] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->