<%
  page = "ticket"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">포스터 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        <div class="space-vertical-x2"></div>
        <div class="form">
          <div>티켓상품별 예매처와 예매처 링크 주소를 입력해 주세요.</div>
          <div class="clearfix"></div>
          <div class="space-vertical"></div>
          <table class="table no-strip table-bordered board-table">
            <colgroup>
              <col style="width:200px">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">티켓상품명</th>
                <th class="text-center">예매처 선택</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">General ticket</td>
                <td>
                  <div class="form-horizontal">
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처1</span></label>
                      <div class="col-xs-3">
                        <input type="text" placeholder="" class="form-control" value="인터파크" readonly>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-7">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=170" readonly>
                      </div>
                    </div>
                    <!-- //form-group -->
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처2</span></label>
                      <div class="col-xs-3">
                        <input type="text" placeholder="" class="form-control" value="예스24" readonly>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-7">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=170" readonly>
                      </div>
                    </div>
                    <!-- //form-group -->
                  </div>
                  <!-- //form-horizontal -->
                </td>
              </tr>
              <tr>
                <td class="text-center">Special Ticket</td>
                <td>
                  <div class="form-horizontal">
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처1</span></label>
                      <div class="col-xs-3">
                        <input type="text" placeholder="" class="form-control" value="인터파크" readonly>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-7">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=170" readonly>
                      </div>
                    </div>
                    <!-- //form-group -->
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처2</span></label>
                      <div class="col-xs-3">
                        <input type="text" placeholder="" class="form-control" value="예스24" readonly>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-7">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=170" readonly>
                      </div>
                    </div>
                    <!-- //form-group -->
                  </div>
                  <!-- //form-horizontal -->
                </td>
              </tr>
            </tbody>
          </table>
          <!-- //table -->
          
        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[2] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->