<%
  page = "ticket"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th class="bg-gray">포스터 이미지</th>
            <td><img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"></td>
          </tr>
          </tbody>
        </table>
        <!-- //table -->
        
        <div class="space-vertical"></div>
        <div class="dashed-bar"></div>
        <div class="space-vertical"></div>
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">예매처명</th>
              <td>티켓링크</td>
            </tr>
            <tr>
              <th class="bg-gray">예매처 로고</th>
              <td>
                <img src="../../images/common/blank.png" alt="" data-src="https://imgur.com/8KjxCJ4.png" class="js-lazy-img js-toggle-img">
              </td>
            </tr>
            <tr>
              <th class="bg-gray">1day 링크</th>
              <td>
                <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170" target="_blank">http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170</a>
              </td>
            </tr>
            <tr>
              <th class="bg-gray">2day 링크</th>
              <td>
                <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170" target="_blank">http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
        <div class="space-vertical"></div>
        <div class="dashed-bar"></div>
        <div class="space-vertical"></div>
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">예매처명</th>
              <td>YES24</td>
            </tr>
            <tr>
              <th class="bg-gray">예매처 로고</th>
              <td>
                <img src="../../images/common/blank.png" alt="" data-src="https://imgur.com/8KjxCJ4.png" class="js-lazy-img js-toggle-img">
              </td>
            </tr>
            <tr>
              <th class="bg-gray">1day 링크</th>
              <td>
                <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170" target="_blank">http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170</a>
              </td>
            </tr>
            <tr>
              <th class="bg-gray">2day 링크</th>
              <td>
                <a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170" target="_blank">http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=170</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> 예약안내 - KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td>DREAM STATION LIVE FOR NOW</td>
            </tr>
            <tr>
              <th class="bg-gray">일시</th>
              <td>2017년 5월 27일</td>
            </tr>
            <tr>
              <th class="bg-gray">장소</th>
              <td>난지 한강공원</td>
            </tr>
            <tr>
              <th class="bg-gray">내용</th>
              <td>
                ※ 매수제한 : 1인 4매<br>
                ※ 일괄배송 : 5월 8일(월)<br>
                → 현장의 혼잡함을 막기 위하여 결제일 기준 4월 30일까지  구매하신 티켓은 배송을 통한 구매만 가능합니다.
              </td>
            </tr>
            <tr>
              <th class="bg-gray">예약관련 안내</th>
              <td>
                · 본 공연은 전석 비지정석입니다.<br>
                · 티켓은 하나의 아이디당 4매까지 구매 가능합니다.<br>
                · 본 공연은 만15세 이상(2002년 5월 28일 포함 이후 출생 입장불가) 입장이 가능합니다.<br>
                관람연령으로 인한 입장불가 티켓은 환불, 취소 되지 않으니 이점 유의하시어 예매하시기 바랍니다.<br>
                * 미성년자 본인확인 신분증 (사진과 생년월일 모두 확인)<br>
                : 학생증 + 가족관계증명서, 학생증 + 의료보험증, 학생증 + 주민등록등본, 주민등록증, 여권<br>
                (학생증만으로 신분 확인 불가)
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> 예약안내 - ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">일시</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">장소</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">내용</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">예약관련 안내</th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> 예약안내 - CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">일시</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">장소</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">내용</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">예약관련 안내</th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> 예약안내 - JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">일시</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">장소</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">내용</th>
              <td></td>
            </tr>
            <tr>
              <th class="bg-gray">예약관련 안내</th>
              <td></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[4] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
    <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<!-- //row -->