<%
  page = "ticket"
  sub = 2
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i>KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i>JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>일시</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>장소</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>내용 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>예약관련 안내 <small><i class="fa fa-asterisk color-danger"></i></small></label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[1] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->