<%
  page = "ticket"
  sub = 0
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>티켓 상품명</h3>
      </div>
      <div class="content">
        
        <div class="row">
          
          <!-- 상품1 -->
          <div class="col-sm-2 ticket-goods">
            <table class="table no-strip table-bordered board-table">
              <thead>
                <tr>
                  <th class="text-center"><span class="ticket-goods-head">상품1</span> <a href="" onclick="removeGoods(this);return false;"><i class="fa fa-times color-danger" aria-hidden="true"></i></a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" placeholder="" class="form-control input-sm" value=""></td>
                </tr>
              </tbody>
            </table>
            <!-- //table -->
          </div>
          <!-- //상품1 -->
          
        </div>
        <!-- //row -->
        
        <div class="dashed-bar space-vertical-x2"></div>
        <div class="space-vertical"></div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="addGoods()"><i class="fa fa-plus-circle" aria-hidden="true"></i> 상품추가</button>
          </div>
        </div>
        <!-- //row -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>예매처</h3>
      </div>
      <div class="content">
        <div class="pull-right"> <span class="badge badge-warning"><i class="fa fa-asterisk"></i> 권장 이미지 사이즈 : 130 x 28</span> </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col style="width:200px">
            <col>
            <col style="width:60px">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">예매처명</th>
              <th class="text-center">예매처 로고</th>
              <th class="text-center">삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ticket-site">
              <td><input type="text" placeholder="" class="form-control input-sm" value=""></td>
              <td>
                <div class="upload-wrap upload-wrap-sm">
                  <div class="upload">
                    <div class="upload__inner">
                      <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                      <div class="input-group">
                        <input type="text" name="" id="" class="form-control" readonly="readonly">
                        <span class="input-group-btn">
                          <span class="btn btn-flat btn-default">
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                        </span>
                      </div>
                    </div>
                    <div class="upload__del">
                      <button type="button" class="btn btn-link" onclick="uploadDel(this)">
                        <span class="color-danger">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                  <!-- //upload -->
                </div>
                <!-- //upload-wrap -->
              </td>
              <td class="text-center">
                <a href="#" onclick="removeSite(this);return false;" class="label label-danger"><i class="fa fa-times"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
        <div class="dashed-bar space-vertical-x2"></div>
        <div class="space-vertical"></div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="addSite()"><i class="fa fa-plus-circle" aria-hidden="true"></i> 상품추가</button>
          </div>
        </div>
        <!-- //row -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->


<script>
  function addGoods() {
    $('.ticket-goods').last().after('<div class="ticket-goods-wrap"></div>')
    $('.ticket-goods-wrap').load('Ticket_01_04등록.html .ticket-goods:first-child', function () {
      $(this).children().first().unwrap();
      countIdx();
    });
  }
  function removeGoods(target) {
    if ($('.ticket-goods').length != 1) {
      $(target).closest('.ticket-goods').remove();
      countIdx();
    } else {
      alert('최소 1개의 상품은 유지되어야 합니다.')
    }
  }
  function countIdx() {
    $('.ticket-goods').each(function(idx)
    {
      $(this).find('.ticket-goods-head').text('상품' + (idx + 1))
    })
  }
  function addSite() {
    $('.ticket-site').last().after('<div class="ticket-site-wrap"></div>')
    $('.ticket-site-wrap').load('Ticket_01_04등록.html .ticket-site:first-child', function () {
      $(this).children().first().unwrap();
    });
  }
  function removeSite(target) {
    if ($('.ticket-site').length != 1) {
      $(target).closest('.ticket-site').remove();
    } else {
      alert('최소 1개의 예매처는 유지되어야 합니다.')
    }
  }
</script>