<%
  page = "ticket"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>상품가격 이미지(포스터 이미지)</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="upload-thumb js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 1080 x 580
              </div>
            </div>
          </div>
          <!-- //form-group -->
          <div class="dashed-bar"></div>
          <div class="space-vertical"></div>
          
          <div>티켓상품별 예매처와 예매처 링크 주소를 입력해 주세요.</div>
          <div class="clearfix"></div>
          <div class="space-vertical"></div>
          <table class="table no-strip table-bordered board-table">
            <colgroup>
              <col style="width:200px">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th class="text-center">티켓상품명</th>
                <th class="text-center">예매처 선택</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">General ticket</td>
                <td>
                  <div class="form-horizontal">
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처1</span></label>
                      <div class="col-xs-3">
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option selected>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-6">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=171">
                      </div>
                      <div class="col-xs-1 text-right">
                        <a href="#" onclick="removeDisplay(this);return false;" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- //form-horizontal -->
                  
                  <div class="space-vertical dashed-bar"></div>
                  <div class="space-vertical"></div>
                  
                  <div class="row">
                    <div class="col-sm-12 text-right">
                      <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="addDisplay(this)"><i class="fa fa-plus-circle" aria-hidden="true"></i> 예매처 추가</button>
                    </div>
                  </div>
                  <!-- //row -->
                  
                </td>
              </tr>
              <tr>
                <td class="text-center">Special Ticket</td>
                <td>
                  <div class="form-horizontal">
                    <div class="form-group form-group-sm form-group-plus ticket-display">
                      <label class="col-xs-1 control-label"><span class="ticket-display-head">예매처1</span></label>
                      <div class="col-xs-3">
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option selected>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <label class="col-xs-1 control-label">링크주소</label>
                      <div class="col-xs-6">
                        <input type="text" placeholder="" class="form-control" value="http://ticket.interpark.com/Ticket/GoodsInfo.asp?GoodsCode=171">
                      </div>
                      <div class="col-xs-1 text-right">
                        <a href="#" onclick="removeDisplay(this);return false;" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- //form-horizontal -->
                  
                  <div class="space-vertical dashed-bar"></div>
                  <div class="space-vertical"></div>
                  
                  <div class="row">
                    <div class="col-sm-12 text-right">
                      <button type="button" class="btn btn-sm btn-flat btn-primary" onclick="addDisplay(this)"><i class="fa fa-plus-circle" aria-hidden="true"></i> 예매처 추가</button>
                    </div>
                  </div>
                  <!-- //row -->
                  
                </td>
              </tr>
            </tbody>
          </table>
          <!-- //table -->
          
        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->


<script>
  function addDisplay(elem) {
    var parent = $(elem).closest('td')
    parent.find('.ticket-display').last().after('<div class="ticket-display-wrap"></div>')
    $('.ticket-display-wrap').load('Ticket_02_04등록.html .ticket-display:eq(0)', function () {
      $(this).children().first().unwrap();
      countIdx(parent);
    });
  }
  function removeDisplay(target) {
    var parent = $(target).closest('td')
    if ($('.ticket-display').length != 1) {
      $(target).closest('.ticket-display').remove();
      countIdx(parent);
    } else {
      alert('최소 1개의 예매처는 유지되어야 합니다.')
    }
  }
  function countIdx(target) {
    $(target).find('.ticket-display').each(function(idx) {
      $(this).find('.ticket-display-head').text('예매처' + (idx + 1))
    })
  }
</script>