<%
  page = "mainpage"
  sub = 0
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>동영상 URL</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>동영상 이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 1920 x 1000
              </div>
            </div>
          </div>
          <!-- //form-group -->
      
        </div>
        <!-- //form -->
        
      </div>
      <!-- //content -->
      
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[2] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->