<%
  page = "mainpage"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">Background<br>PC 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">Background<br>Mobile 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->

      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">텍스트 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/2198/Mgz_Main_Top_20160616183832.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">동영상 URL</th>
              <td><a href="https://youtu.be/Ks4-96mb82E" target="_blank" class="link">https://youtu.be/Ks4-96mb82E</a></td>
            </tr>
            <tr>
              <th class="bg-gray">더보기 URL</th>
              <td><a href="http://www.spectrumdmf.com/page/ticket" target="_blank" class="link">http://www.spectrumdmf.com/page/ticket</a></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">텍스트 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/2198/Mgz_Main_Top_20160616183832.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">동영상 URL</th>
              <td><a href="https://youtu.be/Ks4-96mb82E" target="_blank" class="link">https://youtu.be/Ks4-96mb82E</a></td>
            </tr>
            <tr>
              <th class="bg-gray">더보기 URL</th>
              <td><a href="http://www.spectrumdmf.com/page/ticket" target="_blank" class="link">http://www.spectrumdmf.com/page/ticket</a></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">텍스트 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/2198/Mgz_Main_Top_20160616183832.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">동영상 URL</th>
              <td><a href="https://youtu.be/Ks4-96mb82E" target="_blank" class="link">https://youtu.be/Ks4-96mb82E</a></td>
            </tr>
            <tr>
              <th class="bg-gray">더보기 URL</th>
              <td><a href="http://www.spectrumdmf.com/page/ticket" target="_blank" class="link">http://www.spectrumdmf.com/page/ticket</a></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[4] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
    <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<!-- //row -->