<%
    page = "mainpage"
    sub = 1
    current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="content">
      <div class="row">
        <div class="gallery-cont">
        <% for(var i=0; i<4; i++){ %>
        <div class="col-xs-3">
          <div class="item gallery-cont__item ">
            <div class="photo">
              <div class="head">
                <div class="pull-right">
                  <label class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></label>
                </div>
                <h4>No.<%= i+1 %></h4>
                <span class="desc">KOR, ENG, CHN, JPN</span>
              </div>
              <div class="img">
                <a href="<%= current.links[2] %>">
                  <img src="https://i.imgur.com/uzJcSq7.jpg">
                  <!--<img src="http://via.placeholder.com/1920x1280">-->
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
        </div>
        <div class="col-sm-6 text-center"></div>
        <div class="col-sm-3 text-right">
          <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
        </div>
      </div>
    </div>
  </div>
</div>