<%
    page = "gallery"
    sub = 0
    current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="content">
      <div class="pull-right">
        <div class="form-inline">
          <div class="input-group">
            <select class="form-control">
              <option value="">전체</option>
              <option value="">2018</option>
              <option value="">2017</option>
              <option value="">2016</option>
              <option value="">2015</option>
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='../gallery/Gallery_02Video_02빈값.html'">
                    <span class="fa fa-search" aria-hidden="true"></span>
                    <span class="text-hide">검색</span>
                </button>
              </span>
          </div>
          <a href="#" class="btn btn-default btn-flat">
            <i class="fa fa-refresh" aria-hidden="true"></i> 초기화</a>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="space-vertical"></div>
      <div class="row">
        <div class="gallery-cont">
          <div class="gallery-empty">빈값안내문구</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center"></div>
        <div class="col-sm-3 text-right">
          <button type="button" data-toggle="modal" data-target="#modal2" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- 수정 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photo 수정</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed">
          <div class="form-group">
            <label>년도</label>
            <select class="form-control">
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
            </select>
          </div>
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="https://i.imgur.com/uzJcSq7.jpg" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"> </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택
                      </span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)">
                    <span class="color-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning"> 권장 이미지 사이즈 : 1240 x 827</div>
            </div>
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat pull-left">삭제</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">수정완료</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->

<!-- 등록 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Photo 등록</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed">
          <div class="form-group">
            <label>년도</label>
            <select class="form-control">
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
            </select>
          </div>
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택
                      </span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)">
                    <span class="color-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning"> 권장 이미지 사이즈 : 1240 x 827</div>
            </div>
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">등록</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->