<%
  page = "gallery"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">전체</option>
                <option value="">2018</option>
                <option value="">2017</option>
                <option value="">2016</option>
                <option value="">2015</option>
              </select>
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="window.location.href='<%= current.links[1] %>'"><span class="fa fa-search" aria-hidden="true"></span><span class="text-hide">검색</span></button>
              </span>
            </div>
            <a href="#" class="btn btn-default btn-flat"><i class="fa fa-refresh" aria-hidden="true"></i> 초기화</a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
          <tr>
            <th class="text-center" style="width:60px;">선택</th>
            <th class="text-center" style="width:60px;">번호</th>
            <th class="text-center" style="width:100px;">년도</th>
            <th class="text-center">Youtube URL</th>
            <th class="text-center" style="width:100px;">등록일</th>
          </tr>
          </thead>
          <tbody>
          <% for (i=10; i > 0; i--) { %>
          <tr>
            <td class="text-center">
              <label class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></label>
            </td>
            <td class="text-center"><%= i %></td>
            <td class="text-center">2018</td>
            <td><a href="#none" data-toggle="modal" data-target="#modal1"><span class="board-nowrap">https://youtu.be/368888J9wpo</span></a></td>
            <td class="text-center">2017-11-21</td>
          </tr>
          <% } %>
          </tbody>
        </table>
        
        <div class="space-vertical"></div>
        
        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
          </div>
          <div class="col-sm-6 text-center">
            <% include ../_include/_pagination %>
          </div>
          <div class="col-sm-3 text-right">
            <button type="button" data-toggle="modal" data-target="#modal2" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</button>
          </div>
        </div>
        <!-- //row -->
      </div>
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<!-- Modal -->
<!-- 수정 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Video 수정</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed" style="max-height:186px;">
          <div class="form-group">
            <label>년도</label>
            <select class="form-control">
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
            </select>
          </div>
          <div class="form-group">
            <label>Youtube URL</label>
            <input type="text" placeholder="" value="https://youtu.be/dfEjfi4J9wpo" class="form-control">
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat pull-left">삭제</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">수정완료</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->

<!-- 등록 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Video 등록</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed" style="max-height:186px;">
          <div class="form-group">
            <label>년도</label>
            <select class="form-control">
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
            </select>
          </div>
          <div class="form-group">
            <label>Youtube URL</label>
            <input type="text" placeholder="https://youtu.be/dfEjfi4J9wpo" value="" class="form-control">
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">등록</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->