<%
  page = "vvip"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<% for (i=0; i < 6; i++) { %>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>좌석 <%= i+1 %></h3>
      </div>
      <div class="content">
        
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">좌석명</th>
              <td>
                <div class="form-inline">
                  <div class="input-group">
                    <input type="text" placeholder="" class="form-control input-sm" size="20" value="Star<%= i+1 %>" readonly>
                    <div class="input-group-addon">/</div>
                    <input type="text" placeholder="" class="form-control input-sm" size="100" value="Starcity State Star<%= i+1 %>" readonly>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th class="bg-gray">가격</th>
              <td>
                <div class="form-inline">
                  <div class="input-group">
                    <input type="text" placeholder="" class="form-control input-sm text-right" size="20" value="500,000" onkeyup="currency(this)" readonly>
                    <div class="input-group-addon">KRW</div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
        <div class="space-vertical"></div>
        <div class="dashed-bar"></div>
        <div class="space-vertical"></div>
        
        <div class="row">
          <div class="col-sm-6">
            <table class="table no-strip table-bordered board-table">
              <colgroup>
                <col style="width:150px;">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th class="bg-gray">날짜</th>
                  <td>
                    <input type="text" placeholder="" class="form-control form-inline input-sm" value="April 10" readonly>
                  </td>
                </tr>
                <tr>
                  <th class="bg-gray">판매종료</th>
                  <td>
                    <label class="form-label"><span class="form-checkbox-ios"><input type="checkbox" name="" id="" value="option1"><i data-permit="on" data-deny="off"></i></span></label>
                  </td>
                </tr>
                <tr>
                  <th class="bg-gray">상세</th>
                  <td>
                    <a href="<%= current.links[0] %>" class="btn btn-sm btn-flat btn-default">등록</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- //table -->
          </div>
          <div class="col-sm-6">
            <table class="table no-strip table-bordered board-table">
              <colgroup>
                <col style="width:150px;">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th class="bg-gray">날짜</th>
                  <td>
                    <input type="text" placeholder="" class="form-control form-inline input-sm" value="April 11" readonly>
                  </td>
                </tr>
                <tr>
                  <th class="bg-gray">판매종료</th>
                  <td>
                    <label class="form-label"><span class="form-checkbox-ios"><input type="checkbox" name="" id="" value="option1"><i data-permit="on" data-deny="off"></i></span></label>
                  </td>
                </tr>
                <tr>
                  <th class="bg-gray">상세</th>
                  <td>
                    <a href="<%= current.links[0] %>" class="btn btn-sm btn-flat btn-default">등록</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- //table -->
          </div>
        </div>
        <!-- //row -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->
<% } %>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[0] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->