<%
  page = "vvip"
  sub = 2
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-left">
          <div>∙ 검색하고자 하는 Stage와 Date를 선택해 주세요.</div>
          <div class="space-vertical"></div>
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">Stage 전체</option>
                <option value="">Stage1</option>
                <option value="">Stage2</option>
                <option value="">Stage3</option>
                <option value="">Stage4</option>
                <option value="">Stage5</option>
                <option value="">Stage6</option>
              </select>
            </div>
          </div>
          <div class="form-inline">
            <div class="input-group">
              <select class="form-control">
                <option value="">Date 전체</option>
                <option value="">April 10</option>
                <option value="">April 11</option>
              </select>
            </div>
          </div>
        </div>
        <!-- //pull-left -->
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">No</th>
              <th class="text-center" style="width:150px;">Stage</th>
              <th class="text-center" style="width:150px;">Date</th>
              <th class="text-center" style="width:150px;">Name</th>
              <!--<th class="text-center">Seat Selection</th>-->
              <th class="text-center" style="width:150px;">Phone</th>
              <th class="text-center">E-Mail</th>
              <th class="text-center" style="width:150px;">신청일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center"><%= i+50 %></td>
              <td class="text-center">Star1</td>
              <td class="text-center">April 10</td>
              <td class="text-center">홍길동순</td>
              <!--<td class="text-center">2-4, 2-5, 2-6</td>-->
              <td class="text-center">010-2117-8910</td>
              <td class="text-center">gksqlc00@gmail.com</td>
              <td class="text-center">2016-04-12</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <!-- //table -->

        <div class="space-vertical"></div>

        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6 text-center">
            <% include ../_include/_pagination %>
          </div>
          <div class="col-sm-3 text-right">
          </div>
        </div>
        <!-- //row -->

      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->
