<%
  page = "vvip"
  sub = 0
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-4">
    <div class="block-flat">
      <div class="header">
        <h3>예약날짜 등록</h3>
      </div>
      <div class="content">
        
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">예약날짜1</th>
              <th class="text-center">예약날짜2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" placeholder="" class="form-control input-sm" value="April 10" readonly></td>
              <td><input type="text" placeholder="" class="form-control input-sm" value="April 11" readonly></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>좌석명 및 가격 등록</h3>
      </div>
      <div class="content">
        
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col style="width:200px;">
            <col>
            <col style="width:200px;">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center" colspan="2">좌석명</th>
              <th class="text-center" rowspan="2">가격</th>
            </tr>
            <tr>
              <th class="text-center">Tab 명</th>
              <th class="text-center">자세한 명칭</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=0; i < 6; i++) { %>
              <tr>
                <td><input type="text" placeholder="" class="form-control input-sm" value="Star<%= i+1 %>" readonly></td>
                <td><input type="text" placeholder="" class="form-control input-sm" value="Stage Name Star<%= i+1 %>" readonly></td>
                <td>
                  <div class="input-group">
                    <input type="text" placeholder="" class="form-control input-sm text-right" size="20" value="500,000" onkeyup="currency(this)" readonly>
                    <div class="input-group-addon">KRW</div>
                  </div>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[2] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->