<%
  page = "vvip"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div>∙ 등록된 좌석 현황을 확인하실 수 있습니다.</div>
      <div class="space-vertical"></div>
      <div class="content">
        
        <table class="table no-strip table-bordered board-table">
          <colgroup>
            <col>
            <col>
            <col>
            <col style="width:140px;">
            <col style="width:100px;">
          </colgroup>
          <thead>
            <tr>
              <th class="text-center">좌석명</th>
              <th class="text-center">가격</th>
              <th class="text-center">예약날짜</th>
              <th class="text-center">판매종료 시</th>
              <th class="text-center">내용</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=0; i < 6; i++) { %>
            <tr class="table-row-double-border">
              <td rowspan="2">
                <input type="text" placeholder="" class="form-control input-sm" value="Strarcity Stage Star <%= i+1 %>" readonly>
              </td>
              <td rowspan="2">
                <div class="">
                  <div class="input-group">
                    <input type="text" placeholder="" class="form-control input-sm text-right" size="20" value="500,000" onkeyup="currency(this)" readonly>
                    <div class="input-group-addon">KRW</div>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <input type="text" placeholder="" class="form-control input-sm" value="April 10" readonly>
              </td>
              <td class="text-center">
                <label class="form-label"><span class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></span> Sold Out</label>
              </td>
              <td class="text-center">
                <a href="<%= current.links[2] %>" class="btn btn-sm btn-flat btn-default">등록</a>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <input type="text" placeholder="" class="form-control input-sm" value="April 11" readonly>
              </td>
              <td class="text-center">
                <label class="form-label"><span class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></span> Sold Out</label>
              </td>
              <td class="text-center">
                <a href="<%= current.links[2] %>" class="btn btn-sm btn-flat btn-default">등록</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-success"><i class="fa fa-check" aria-hidden="true"></i> 저장</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->