<%
  page = "vvip"
  sub = 1
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>예약 안내</h3>
      </div>
      <div class="content">
        <div>
          <div class="form-inline">
            <div class="input-group">
              <input type="text" placeholder="" class="form-control form-inline input-sm" size="50" value="Strarcity Stage Star <%= i+1 %>" readonly>
            </div>
            <div class="input-group">
              <input type="text" placeholder="" class="form-control input-sm" value="April 10" size="15" readonly>
            </div>
            <div class="input-group">
              <input type="text" placeholder="" class="form-control input-sm text-right" size="20" value="500,000" onkeyup="currency(this)" readonly>
              <div class="input-group-addon">KRW</div>
            </div>
          </div>
          <!-- //form-inline -->
        </div>
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>좌석 안내</h3>
      </div>
      <div class="content">
        <div>∙ 좌석 예약일별로 VVIP 예약 안내 설명을 등록하실 수 있습니다.</div>
        <div class="space-vertical"></div>
        <div class="panel-group accordion accordion-semi">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
            </div>
            <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
              <div class="panel-body">
                
                <div class="form">
                  <div class="form-group">
                    <label>내용</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <!-- //form-group -->
                </div>
                <!-- //form -->
                
              </div>
              <!-- //panel-body -->
            </div>
          </div>
          <!-- //panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
            </div>
            <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
        
                <div class="form">
                  <div class="form-group">
                    <label>내용</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <!-- //form-group -->
                </div>
                <!-- //form -->
        
              </div>
              <!-- //panel-body -->
            </div>
          </div>
          <!-- //panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
            </div>
            <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
        
                <div class="form">
                  <div class="form-group">
                    <label>내용</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <!-- //form-group -->
                </div>
                <!-- //form -->
                
              </div>
              <!-- //panel-body -->
            </div>
          </div>
          <!-- //panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
            </div>
            <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
              <div class="panel-body">
        
                <div class="form">
                  <div class="form-group">
                    <label>내용</label>
                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <!-- //form-group -->
                </div>
                <!-- //form -->
                
              </div>
              <!-- //panel-body -->
            </div>
          </div>
          <!-- //panel -->
        </div>
        <!-- //panel-group -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->