<%
  page = "history"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:120px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th class="bg-gray">이미지</th>
            <td><img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img"></td>
          </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td>DREAM STATION LIVE FOR NOW</td>
            </tr>
            <tr>
              <th class="bg-gray">상세내용</th>
              <td>일시 :  2017년 5월 27일<br>
                장소 : 난지 한강공원<br><br>

                리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th class="bg-gray">타이틀</th>
            <td>DREAM STATION LIVE FOR NOW</td>
          </tr>
          <tr>
            <th class="bg-gray">상세내용</th>
            <td>일시 :  2017년 5월 27일<br>
              장소 : 난지 한강공원<br><br>

              리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</td>
          </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th class="bg-gray">타이틀</th>
            <td>DREAM STATION LIVE FOR NOW</td>
          </tr>
          <tr>
            <th class="bg-gray">상세내용</th>
            <td>일시 :  2017년 5월 27일<br>
              장소 : 난지 한강공원<br><br>

              리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</td>
          </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
          <tr>
            <th class="bg-gray">타이틀</th>
            <td>DREAM STATION LIVE FOR NOW</td>
          </tr>
          <tr>
            <th class="bg-gray">상세내용</th>
            <td>일시 :  2017년 5월 27일<br>
              장소 : 난지 한강공원<br><br>

              리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</td>
          </tr>
          </tbody>
        </table>
        <!-- //table -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[4] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
    <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<!-- //row -->