<%
  page = "history"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 높이 343 이상
              </div>
            </div>
          </div>
          <!-- //form-group -->
      
        </div>
        <!-- //form -->
        
      </div>
      <!-- //content -->
      
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 등록</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->