<%
  page = "history"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://i.imgur.com/uzJcSq7.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                 권장 이미지 사이즈 : 높이 343 이상
              </div>
            </div>
          </div>
          <!-- //form-group -->

        </div>
        <!-- //form -->
        
      </div>
      <!-- //content -->
      
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control" value="DREAM STATION LIVE FOR NOW">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">일시 :  2017년 5월 27일&#13;장소 : 난지 한강공원&#13;&#13;리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> ENG</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control" value="DREAM STATION LIVE FOR NOW">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">일시 :  2017년 5월 27일&#13;장소 : 난지 한강공원&#13;&#13;리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->

      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control" value="DREAM STATION LIVE FOR NOW">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">일시 :  2017년 5월 27일&#13;장소 : 난지 한강공원&#13;&#13;리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-4" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-4" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">

        <div class="form">
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control" value="DREAM STATION LIVE FOR NOW">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">일시 :  2017년 5월 27일&#13;장소 : 난지 한강공원&#13;&#13;리햅(R3hab), 알엘 그라임(RL Grime), 다이로(Dyro), 마시멜로(Marshmello), 파 이스트 무브먼트(Far East Movement) 등 세계적인 아티스트의 레전드급 공연과 페스티벌을 위해 샤이니 키, 에프엑스 엠버와 루나, 트랙스 정모, 에스엠루키즈 쟈니 등 SM 아티스트들로 결성된 '드림스테이션 크루(DREAMSTATION CREW)'의 공연까지, 그 어디서도 볼 수 없었던 라인업과 특별한 콘텐츠를 제공하였다.</textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->