<%
  page = "news"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>카테고리</label>
            <select name="" id="" class="form-control form-inline">
              <option value="" selected>Notice</option>
              <option value="">Event</option>
            </select>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/2198/Mgz_Main_Top_20160616183832.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 가로 580 이상
              </div>
            </div>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>언어선택</label>
            <select class="form-control form-inline">
              <option value="">KOR</option>
              <option value="">ENG</option>
              <option value="" selected>CHN</option>
              <option value="">JPN</option>
            </select>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>타이틀</label>
            <input type="text" placeholder="" class="form-control" value="드림 스테이션 티켓 판매 공지">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <div style="line-height:400px;text-align:center;background-color:#dfdfdf;">에디터</div>
          </div>
          <!-- //form-group -->

          <div class="form-group">
            <label><span class="form-checkbox"><input type="checkbox" name="" value="option1"><i></i></span> 상단고정공지</label>
          </div>
          <!-- //form-group -->

        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="pull-left">
  <label><span class="form-checkbox"><input type="checkbox" name="" value="option1"><i></i></span> 상단고정공지</label>
</div>
<div class="clearfix"></div>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->