<%
  page = "news"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">카테고리</th>
              <td>News</td>
            </tr>
            <tr>
              <th class="bg-gray">이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://image.genie.co.kr/Y/IMAGE/IMG_MUZICAT/IV2/Genie_Magazine/2198/Mgz_Main_Top_20160616183832.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">언어</th>
              <td>KOR</td>
            </tr>
            <tr>
              <th class="bg-gray">타이틀</th>
              <td>드림 스테이션 티켓 판매 공지</td>
            </tr>
            <tr>
              <th class="bg-gray">상세내용</th>
              <td>드림스테이션 #블라인드 티켓이 언제? 내일!!! 오픈 합니다.<br>
                세계 정상급 국 내외 아티스트 10팀과 함께할 드림스테이션<br>
                블라인드 티켓을 절대 놓치지 마세요!<br><br>

                *드림스테이션 블라인드 티켓 오픈*</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        <div class="space-vertical"></div>
        <label><span class="form-checkbox"><input type="checkbox" name="" value="option1" checked disabled><i></i></span> 상단고정공지</label>
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[4] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
    <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<!-- //row -->