<%
  page = "news"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="pull-right">
          <div class="form-inline">
            <div class="input-group">
              <div class="input-group-addon">언어선택</div>
              <select class="form-control">
                <option value="">전체</option>
                <option value="">KOR</option>
                <option value="">ENG</option>
                <option value="">CHN</option>
                <option value="">JPN</option>
              </select>
            </div>
          </div>
        </div>
        <!-- //pull-right -->
        <div class="clearfix"></div>
        <div class="space-vertical"></div>
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">선택</th>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center" style="width:100px;">구분</th>
              <th class="text-center" style="width:200px;">제공언어</th>
              <th class="text-center">타이틀</th>
              <th class="text-center" style="width:100px;">등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">
                <label class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></label>
              </td>
              <td class="text-center"><%= i %></td>
              <% if (i%3 == 0) { %>
              <td class="text-center">Notice</td>
              <td class="text-center">KOR, ENG, CHN, JPN</td>
              <% } else { %>
              <td class="text-center">Event</td>
              <td class="text-center">KOR, ENG</td>
              <% } %>
              <td><a href="<%= current.links[2] %>" class="board-nowrap">Dream Station Live For Now Ticket Info Dream Station Live For Now Ticket Info Dream Station Live For Now Ticket Info Dream Station Live For Now Ticket Info</a></td>
              <td class="text-center">2018-01-02</td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <!-- //table -->

        <div class="space-vertical"></div>

        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
          </div>
          <div class="col-sm-6 text-center">
            <% include ../_include/_pagination %>
          </div>
          <div class="col-sm-3 text-right">
            <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
          </div>
        </div>
        <!-- //row -->

      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->
