<div class="breadcrumb">
  <li><a href="">Home</a></li>
  <% if ((data.pages[page].children) && (data.pages[page].children.length > 1)) { %>
  <li><a href="<%= data.pages[page].links[0] %>"><%= data.pages[page].title.kor %></a></li>
  <li class="active"><%= jsonData.pages[page].children[sub].title %></li>
  <% } else { %>
  <li class="active"><%= data.pages[page].title.kor %></li>
  <% } %>
</div>
<!-- //breadcrumb -->