<div class="site-header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= data.site.name %></a>
    </div>
    <ul class="nav navbar-nav">
      <%
        for (var depth1 in data.pages) {
          var i = Object.keys(data.pages).indexOf(depth1);
         if ((data.pages[depth1].children) && (data.pages[depth1].children.length > 1)) {
      %>
        <li class="dropdown">
          <a href="<%= data.pages[depth1].links[0] %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= data.pages[depth1].title.kor %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% data.pages[depth1].children.forEach(function(depth2,idx) { %>
            <li><a href="<%= depth2.links[0] %>"><%= depth2.title %></a></li>
            <% }) %>
          </ul>
        </li>
      <% } else { %>
        <li>
          <a href="<%= data.pages[depth1].links[0] %>"><%= data.pages[depth1].title.kor %></a>
        </li>
      <% 
          } 
        }
      %>
    </ul>
    <div class="navbar-right">
        <p class="navbar-text">홍길동님</p>
        <button type="button" class="btn btn-default btn-xs navbar-btn">
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          로그아웃
        </button>
      </div>
  </div>
</div>
<!-- //site-header -->