<%
  var data = jsonData
%><!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= pageTitle = (page == "main") ? "":title+" | " %><%= data.site.name %></title>
  <link type="text/css" href="../../css/fonts.css" rel="stylesheet">
  <link type="text/css" href="../../libs/bootstrap/css/bootstrap-custom.css" rel="stylesheet">
  <link type="text/css" href="../../libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" href="../../libs/jquery.nanoscroller/css/nanoscroller.css" rel="stylesheet">
  <link type="text/css" href="../../css/bootstrap.theme.blue.css" rel="stylesheet">
  <link type="text/css" href="../../libs/bootstrap.switch/css/bootstrap-switch.min.css" rel="stylesheet">
  <link type="text/css" href="../../libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link type="text/css" href="../../css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <% if (page != "main") { %>
    <div class="wrapper__row">
      <% include ../_include/_header %>
    </div>
    <% } %>
    <div class="wrapper__row wrapper__row--height-full">
      <div class="main">
        <% if (page != "main") { %>
        <div class="page-head">
          <% if ((data.pages[page].children) && (data.pages[page].children.length > 1)) { %>
          <div class="snb">
            <ul class="nav nav-pills">
              <% data.pages[page].children.forEach(function(depth2,idx) { %>
                <li role="presentation" class="<%= snbActive = (idx == sub) ? 'active':'' %>"><a href="<%= depth2.links[0] %>"><%= depth2.title %></a></li>
              <% }) %>
            </ul>
          </div>
          <!-- //snb -->
          <% } %>
          <h1 class="page-head__heading"><%= title %></h1>
          <% include ../_include/_breadscrumb.ejs %>
        </div>
        <!-- //page-head -->
        <% } %>
        
        <%- body  %>
        
      </div>
      <!-- //main -->
    </div>
    <div class="wrapper__row">
      <% include ../_include/_footer %>
    </div>
  </div>
  <script type="text/javascript" src="../../libs/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../libs/jquery.nanoscroller/js/jquery.nanoscroller.min.js"></script>
  <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../libs/bootstrap.switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="../../libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="../../js/bootstrap.theme.blue.js"></script>
  <script type="text/javascript" src="../../js/common.js"></script>
</body>

</html>