<%
    page = "lost"
    sub = 0
    current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="content">
      <div class="row">
        <div class="gallery-cont">
        <% for(var i=9; i>=0; i--){ %>
        <div class="col-xs-3 col-lg-2">
          <div class="item gallery-cont__item ">
            <div class="photo">
              <div class="head">
                <div class="pull-right">
                  <label class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></label>
                </div>
                <h4>No.<%= i+1 %></h4>
              </div>
              <div class="img">
                <a href="#" data-toggle="modal" data-target="#modal1">
                  <img src="https://i.imgur.com/fzlyoqa.jpg">
                  <!--<img src="http://via.placeholder.com/576x178">-->
                </a>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
          <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
        </div>
        <div class="col-sm-6 text-center">
          <% include ../_include/_pagination %>
        </div>
        <div class="col-sm-3 text-right">
          <button type="button" data-toggle="modal" data-target="#modal2" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- 수정 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">분실물 수정</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed">
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="https://i.imgur.com/fzlyoqa.jpg" alt="" data-src="https://i.imgur.com/fzlyoqa.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택
                      </span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)">
                    <span class="color-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning"> 권장 이미지 사이즈 : 275 x 180</div>
            </div>
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat pull-left">삭제</button>
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">수정완료</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->

<!-- 등록 -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">분실물 등록</h4>
      </div>
      <!-- //modal-header -->
      <div class="modal-body form">
        <div class="height-fixed">
          <div class="form-group">
            <label>이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default">
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택
                      </span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)">
                    <span class="color-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning"> 권장 이미지 사이즈 : 275 x 180</div>
            </div>
          </div>
        </div>
      </div>
      <!-- //modal-body -->
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default btn-flat">취소</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary btn-flat">등록</button>
      </div>
      <!-- //modal-footer -->
    </div>
    <!-- //modal-content -->
  </div>
  <!-- //modal-dialog -->
</div>
<!-- //modal -->