<%
    page = "main"

%>
<% layout('../_layout/_layout') -%>
<div class="login-container">
  <div class="middle-login">
    <div class="block-flat">
      <div class="header"><h3 class="text-center">Spectrum Admin</h3></div>
      <div>
        <form action="../mainpage/메인화면_01목록.html" class="form-horizontal">
          <div class="content">
            <h4 class="title">관리자 아이디와 비밀번호로 로그인 후 이용하세요.</h4>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span><input id="username" type="text" placeholder="ID" class="form-control"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span><input id="password" type="password" placeholder="Password" class="form-control"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="checkbox-inline">
                  <span class="form-checkbox">
                    <input type="checkbox" name="inlineCheckboxOptions" id="" value="option1">
                    <i></i>
                  </span> 아이디 저장
                </label>
                <label class="checkbox-inline">
                  <span class="form-checkbox">
                    <input type="checkbox" name="inlineCheckboxOptions" id="" value="option1">
                    <i></i>
                  </span> 비밀번호 저장
                </label>
              </div>
            </div>
          </div>
          <div class="foot">
            <!--<button data-dismiss="modal" type="button" class="btn btn-default">Register</button>-->
            <button data-dismiss="modal" type="submit" class="btn btn-flat btn-primary">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
