body { font-family:'notokr', sans-serif; font-size:14px; }

.space-vertical { margin-top:15px; }
.space-vertical-x2 { margin-top:30px; }

.dashed-bar { border-top:1px dashed #efefef; }

.link:hover { text-decoration:underline; }
.bg-gray { background-color:#f8f8f8;}
.pagination { display:table; margin:0 auto;}

.keep-all { word-break:keep-all; }

.modal-body img { max-width:100%; }

.row+.row { margin-top:15px; }
.block-flat, .block-wizard { margin-bottom:20px; }
.block-flat .content { padding-top:0; }
.block-flat .header+.content { margin-top:15px; }

.accordion.accordion-semi .panel-collapse .panel-body { padding:20px; }
.block-flat .accordion.accordion-semi .panel-heading a.collapsed { background-color:#ececec;}

.table-foot { margin-top:15px; }

.height-fixed { overflow-y:auto; }

@media (min-width: 768px) {
  .modal-90p { width:90%; }
}

.upload-wrap { display:table; table-layout:fixed; width:100%; }
.upload { box-sizing:border-box; position:relative; padding-right:37px;
  &__inner { position:relative;  cursor:pointer;}
  &__file { position:absolute; z-index:10; top:0; right:0; width:100%; height:100%; font-size:30px; opacity:0; -ms-filter:"alpha(opacity=0)"; cursor:pointer; }
  &__del { position:absolute; top:0; right:0; }
  .form-control[readonly] { background-color:#fff; }
  @at-root .upload-wrap-sm .form-control { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; }
  @at-root .upload-wrap-sm .input-group .btn { line-height:16px; }
  +.alert,
  +.upload,
  +.upload-wrap { margin-top:10px;}
}

.upload-display { display:block; border:1px solid #ccc; border-bottom:none; padding:15px; }
.upload-thumb { max-width:100%; }
// .upload-display .upload-thumb {max-width:40%; }
// .upload-thumb.lg { max-width:100%; }

.js-toggle-img,
.modal-body .js-toggle-img { max-width:40%; }
.js-toggle-img.is-lg { width:auto; max-width:100%; }

.form-control { border-radius:0 !important; }
.form-group label { display:block; }
.form-group label.inline-block { display:inline-block; }
.input-group .input-group { margin-bottom:0; }
.form-inline { display:inline-block; width:auto;  
  // .input-group {margin-bottom:0;}
}
.form-group-plus { margin:0; 
  &+& { margin-top:10px; }
}
select.form-control.input-sm { padding-top:2px; padding-bottom:2px; }
.input-group-addon-transparent { position:absolute; border:none !important; width:auto; display:inline-block; top:0;right:0; bottom:0; background-color:transparent; border-left-width:0; z-index:10; 
  &:before { content:''; display:inline-block; height:100%; vertical-align:middle; width:0; }
  &>i { vertical-align:middle; }
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-left:none; border-right:none; }
.date { 
  &[readonly],
  input[readonly] { background-color:#fff; }
}
.date-width-default { width:15em; }
.time-width-default { width:10em; }

.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active { background-color:#4d90fd; background-image:none; }
.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active { background-color:#4d90fd; background-image:none; }
.daterangepicker td.active, .daterangepicker td.active:hover { background-color:#4d90fd; }

.form-group .radio-inline,
.form-group .checkbox-inline { display: inline-block; padding-left:0; }

.form-radio { display:inline-block !important; position:relative; cursor: pointer; vertical-align:middle; height:20px; width:20px; margin:0;}
.form-radio input { opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.form-radio input+i { float:left; position:relative; box-sizing:border-box; width:20px; height:20px; border: 1px solid #d4d4d4; background-color: #fff; border-radius:50%;}
.form-radio input:checked+i { background-color:#4d90fd; border-color:#4d90fd;}
.form-radio input:focus+i,
.form-radio input:hover+i { border-width:2px; border-color:#4d90fd; }
.form-radio input:checked+i:after { position: absolute; top:0; left:0; bottom: 0; right:0; width: 10px;height: 10px;margin:auto; background-color:#fff; border-radius:50%; cursor: pointer; content: ''; }

.form-checkbox { display:inline-block !important; position:relative; cursor: pointer; vertical-align:middle; height:20px; width:20px; margin:0;}
.form-checkbox input { z-index:1; opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}
.form-checkbox input+i { float:left; position:relative; box-sizing:border-box; width:20px; height:20px; border: 1px solid #d4d4d4; background-color: #fff; }
.form-checkbox input:checked+i { background-color:#4d90fd; border-color:#4d90fd;}
.form-checkbox input:focus+i,
.form-checkbox input:hover+i { border-width:2px; border-color:#4d90fd; }
.form-checkbox input:checked+i:after { position: absolute; top:0; left:0; bottom: 0; right:0; width: 55%;height: 40%;margin:auto; transform: rotate(-45deg) skewX(-3deg) translate(1px,-1px);;border-width:0 0 2px 2px; border-style:solid; border-color:#fff; cursor: pointer; content: ''; }

.form-checkbox-ios { position: relative; display: inline-block; vertical-align:middle;
  &:not(n) {
    input { z-index:1; opacity:0; position:absolute; top:0; left:0; width:100%; height:100%; margin:0;}  
    input+i { position: relative; display: block; width: 80px; height: 30px; background-color: #b62222; border-radius: 30px; cursor: pointer; transition: all 0.3s ease-out;
      &:before { content: ''; display: inline-block; width: 24px; height: 24px; border-radius: 100%; background-color: white; position: absolute; top: 3px; right: 4px; transition: all 0.3s ease-out;}
      &:after {   content: attr(data-deny); color: white; position: absolute; top: 0; left: 0; width:calc(100% - 24px - 4px); font-size: 16px; font-weight: 300; transition: all 0.3s ease-out; font-style:normal; text-transform:uppercase; line-height:30px; text-align:center; }
    }
    input:checked+i {  background-color: #519b00; 
      &:before { right:calc(100% - 24px - 4px);}
      &:after { content: attr(data-permit); left: calc(24px + 4px);}
    }
  }
}

.radio-inline .form-radio { margin-left:-20px;}

.form-label { font-weight:normal; margin-bottom:0; }