.table { table-layout:fixed; }
.table.no-border th { border-left:1px solid #dadada; }

.board-table { table-layout:fixed;}
// .board-table>thead:first-child>tr:last-child>th,
// .board-table>colgroup+thead>tr:last-child>th { border-bottom:2px solid #43A0F2; }
.board-table>thead+tbody>tr:first-child,
.board-table>thead+tbody>tr:first-child { border-top:2px solid #43A0F2; }
.board-table>thead>tr>th,
.board-table>thead>tr>td,
.board-table>tbody>tr>th,
.board-table>tbody>tr>td,
.board-table>tfoot>tr>th,
.board-table>tfoot>tr>td { vertical-align:middle;}

.table>tbody>tr>td a:not(.btn, .label) { color:inherit;
  &:focus,
  &:hover { text-decoration:underline; }
}

.table-row-double-border { border-top-style:double;}

.board-article { margin:15px 0;
  img { max-width:100%; }
  p { margin-top:0; margin-bottom:0; }
}

.board-foot { margin-top:15px; text-align:center;
  &:before,
  &:after { display:table; content:''; }
	&:after {
    clear: both;
  }
}

.board-foot-border { border-top:1px solid #dadada; margin-top:30px; padding-top:15px;}

.board-empty { text-align:center; height:200px; vertical-align:middle !important;}

.board-link { display:inline-block; position:relative; vertical-align:middle;
  &>a {
    &:focus,
    &:hover { color:#43A0F2; text-decoration:underline;
      &:after { text-decoration:none;}
    }
  }
}

.board-new {
  &:after { display:inline-block; content:'새로운글'; height:1em; margin-left:5px; padding: 2px 7px  1px; border: 1px solid #e5e5e5; border-radius: 10px; background-color: #fff; font-size: 11px; color: #888; line-height: 1; text-decoration:none !important;}
}

.board-photo { padding-left:28px;
  &:before { position:absolute; top:0; bottom:0; left:0; width:19px; height:16px; margin:auto; /*background:url(../images/common/ico-photo1.png) no-repeat;*/ content:''; }
}

.board-nowrap { position:relative; display:inline-block; box-sizing:border-box; width:100%; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; vertical-align:top;
  &:nth-child(n) { width:auto; max-width:100%; }
  &.board-new { padding-right:60px;
    &:after { position:absolute; right:0; }
  }
}

/* Gallery */
.gallery-cont {
  &:before { content:''; display:block; margin-bottom:-20px; }
  &:after { clear:both; display:table; content:''; }
  .item { width:100%; position:relative; margin-top:20px; margin-bottom:0; padding-bottom:100%;
    .head { height:64px; }
  }
  .photo { position:absolute; width:100%; height:100%; }
  &__file-name { box-sizing:border-box; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; }
  h4 { line-height: 1.3; }
  .desc { display:inline-block; max-width: 100%; margin-top:5px; font-family: 'Open Sans', sans-serif; }
  .img { position:absolute; top:64px; left:0; right:0; bottom:0; overflow: hidden;
    img { display:block; width:auto; min-width:100%; height:100%; position:absolute; top:0; left:-100%; right:-100%; margin:auto; }
  }
}
.gallery-empty { display:table-cell; width:1%; text-align:center; height:200px; vertical-align:middle;}

/* Login */
.login-container {
  .block-flat { box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    .content { padding-bottom:20px; }
    .foot { text-align: center;}
   }
  .input-group { width:100%; }
  .input-group-addon { padding:6px 0; width:10%; }
}


.upload img,
.table>tbody>tr>td img { background-color:#000; }

.ticket-goods:nth-of-type(6)~.ticket-goods { margin-top:15px; }
.table thead th span.ticket-goods-head { display:inline; color:inherit; font-size:1em; }