html { height:100%; }
body { height:100%; min-width:1200px; background-color:#F6F6F6;}

.wrapper { overflow:hidden; display: table; width:100%; height:100%; padding-top:50px; 
  &__row { display:table-row; width:100%; 
    &--height-full { height:100%; }
  }
}

.site-header {
  min-width:1200px;
  &.navbar-default .navbar-brand { width:auto; background:none;}
  &.navbar-default .navbar-text { color:inherit;}
  .btn-default, 
  .btn-default:focus {border-color:#fff;}
  // &.navbar-default .navbar-brand,
  // &.navbar-default .navbar-brand:hover,
  // &.navbar-default .navbar-brand:focus,
  // &.navbar-default .navbar-nav>li>a { color:inherit;}
  // &.navbar-default .navbar-nav>.open>a, 
  // &.navbar-default .navbar-nav>.open>a:hover,
  // &.navbar-default .navbar-nav>.open>a:focus { background-color:#36a3ff; color:inherit;}
  // &.navbar-default .navbar-text { color:inherit;}
  // &.navbar-default .navbar-nav>li>.dropdown-menu { border-top:0; }
  // .btn-default { border-color:#fff; }
  // .dropdown-menu { box-shadow:1px 3px 4px rgba(0,0,0,0.18); }
  // .dropdown-menu>li>a, 
  // .dropdown-menu li>a { font-size:12px; padding:5px 20px; clear:both; color:#333; display: block; font-weight:normal; line-height:1.42857; white-space:nowrap;}
  // .dropdown-menu>li>a:hover, 
  // .dropdown-menu>li>a:focus, 
  // .dropdown-submenu:hover>a, 
  // .dropdown-menu li>a:hover { background-color:#2391ed; background-image:none; color:#fff; }
  // .dropdown:hover {
  //   .dropdown-menu {
  //     // display: block;
  //   }
  // }
}
.main { padding:30px;}
.page-head { 
  padding:20px 25px; background-color:#fff; border-bottom:1px solid #e9e9e9;
  
  &__heading { margin-top:6px; margin-bottom:5px; font-size:30px; font-weight:300;}
  .main & { margin-top:-30px; margin-left:-30px; margin-right:-30px; margin-bottom:30px;  }
}

.snb { padding-bottom:15px; margin-bottom:30px; border-bottom:1px solid #dadada; 
 .nav-pills>li.active>a, 
 .nav-pills>li.active>a:hover, 
 .nav-pills>li.active>a:focus { background-color:#2494f2; border-color:#3680BF; }
 .nav>li>a { padding-top:5px; padding-bottom:5px; }
}

.site-footer { border-top:1px solid #dadada; text-align:center; padding:15px; margin:0 30px; }










