<%
  page = "artist"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table board-table">
          <thead>
            <tr>
              <th class="text-center" style="width:60px;">선택</th>
              <th class="text-center" style="width:60px;">번호</th>
              <th class="text-center" style="width:200px;">스테이지</th>
              <th class="text-center">아티스트명</th>
              <th class="text-center" style="width:100px;">등록일</th>
            </tr>
          </thead>
          <tbody>
            <% for (i=10; i > 0; i--) { %>
            <tr>
              <td class="text-center">
                <label class="form-checkbox"><input type="checkbox" name="" id="" value="option1"><i></i></label>
              </td>
              <td class="text-center"><%= i %></td>
              <% if (i%2 == 0) { %>
              <td class="text-center">Strarcity</td>
              <% } else { %>
              <td class="text-center">Club Neo Jungle</td>
              <% } %>
              <td><a href="<%= current.links[2] %>" class="board-nowrap">Dimitri vegas & like mike</a></td>
              <td class="text-center">2018-01-02</td>
              <!-- <td class="text-center"><a href="<%= current.links[2] %>" class="btn btn-default btn-xs btn-flat">보기<i class="fa fa-angle-right"></i></a></td> -->
            </tr>
            <% } %>
          </tbody>
        </table>
        <!-- //table -->

        <div class="space-vertical"></div>
        
        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-trash" aria-hidden="true"></i> 선택삭제</button>
            <button type="button" class="btn btn-danger btn-flat"><i class="fa fa-check-square" aria-hidden="true"></i> 전체선택</button>
          </div>
          <div class="col-sm-6 text-center">
            <% include ../_include/_pagination %>
          </div>
          <div class="col-sm-3 text-right">
            <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
          </div>
        </div>
        <!-- //row -->
        
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->