<%
  page = "artist"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>스테이지</label>
            <select name="" id="" class="form-control form-inline">
              <option value="">Strarcity</option>
              <option value="" selected>Dreamstation</option>
              <option value="">Electro Garden</option>
              <option value="">Club Neo Jungle</option>
            </select>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>아티스트명</label>
            <input type="text" placeholder="" class="form-control" value="Dimitri vegas & like mike">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label><span class="form-checkbox"><input type="checkbox" name="" value="option1" checked><i></i></span> 목록표시</label>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>아티스트 설명</label>
            <input type="text" placeholder="" class="form-control" value="더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control">
              더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!&#13;&#10;&#13;&#10;그리스계 벨기에인인 형제는 데뷔 후 스웨디시 하우스 마피아 등 월드 클래스 아티스트들의 전폭적인 서포트를 받기 시작했다.  MADNESS, TREMOR, MAMMOTH, 그리고 HIGHER PLACE 등의 히트트랙은 각각 유투브 조회수 1억을 돌파하는 등 데뷔 이후 이들은 꾸준히 전 세계 팬들의 사랑을 받았다. 세계적인 EDM페스티벌 ‘투모로우랜드(Tomorrowland)’의 호스트 DJ이자 벨기에의 국민 DJ 듀오로 끊임 없이 전 세계 EDM씬의 러브콜을 받고 있다. 작년 전 세계 최고의 DJ를 선발하는 DJ MAG TOP 100 DJs 투표에서 당당히 1위를 거머쥔 형제가 선택한 첫 내한 무대는 바로 스펙트럼 댄스 페스티벌이다. 
            </textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>아티스트명</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label><span class="form-checkbox"><input type="checkbox" name="" value="option1" checked><i></i></span> 목록표시</label>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>아티스트 설명</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <div class="form">
          <div class="form-group">
            <label>아티스트명</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label><span class="form-checkbox"><input type="checkbox" name="" value="option1" checked><i></i></span> 목록표시</label>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>아티스트 설명</label>
            <input type="text" placeholder="" class="form-control">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세내용</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>목록이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="http://i.maniadb.com/images/artist/415/415132.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 가로 580 이상
              </div>
            </div>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>아티스트명 이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="http://dimg.donga.com/wps/SPORTS/IMAGE/2014/07/10/65092562.2.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 510 x 210
              </div>
            </div>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>상세이미지 이미지</label>
            <div class="upload-wrap">
              <div class="upload">
                <div class="upload-display">
                  <img src="../../images/common/blank.png" alt="" data-src="https://dispatch.cdnserbe.net/wp-content/uploads/2017/12/20171206204341_1.jpg" class="js-lazy-img js-toggle-img">
                </div>
                <div class="upload__inner">
                  <input type="file" name="" id="" class="upload__file" onchange="uploadFile(this)">
                  <div class="input-group">
                    <input type="text" name="" id="" class="form-control" readonly="readonly">
                    <span class="input-group-btn">
                      <span class="btn btn-flat btn-default"><i class="fa fa-folder-open-o" aria-hidden="true"></i> 파일선택</span>
                    </span>
                  </div>
                </div>
                <div class="upload__del">
                  <button type="button" class="btn btn-link" onclick="uploadDel(this)"><span class="color-danger"><i class="fa fa-times" aria-hidden="true"></i></span></button>
                </div>
              </div>
              <!-- //upload -->
              <div class="alert alert-warning">
                권장 이미지 사이즈 : 1240 x 500
              </div>
            </div>
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Youtube URL</label>
            <input type="text" placeholder="" class="form-control" value="https://youtu.be/3UOtF4J9wpo">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Soundcloud URL</label>
            <input type="text" placeholder="" class="form-control" value="https://soundcloud.com/smashthehouse/wolpack-vs-diego-miranda-nashville">
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>Artist SNS</h3>
      </div>
      <!-- //header -->
      <div class="content">
        <div class="form">
          <div class="form-group">
            <label>Facebook</label>
            <input type="text" placeholder="" class="form-control" value="https://www.facebook.com/dimitrivegasandlikemike">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Twitter</label>
            <input type="text" placeholder="" class="form-control" value="https://twitter.com/dimitrivega">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Instagram</label>
            <input type="text" placeholder="" class="form-control" value="https://www.instagram.com/dimitrivegasandlikemike/">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Youtube</label>
            <input type="text" placeholder="" class="form-control" value="https://www.youtube.com/user/dimitrivegasonline">
          </div>
          <!-- //form-group -->
          <div class="form-group">
            <label>Soundcloud</label>
            <input type="text" placeholder="" class="form-control" value="https://soundcloud.com/dimitrivegasandlikemike">
          </div>
          <!-- //form-group -->
        </div>
        <!-- //form -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-center">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
    <button type="button" class="btn btn-flat btn-success" onclick="window.location.href='<%= current.links[2] %>'"><i class="fa fa-check" aria-hidden="true"></i> 수정</button>
  </div>
  <div class="col-sm-4 text-right">
  </div>
</div>
<!-- //row -->