<%
  page = "artist"
  <!-- sub =  -->
  current = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub] : jsonData.pages[page]
  title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.kor
%>
<% layout('../_layout/_layout') -%>
<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">

        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">스테이지</th>
              <td>Strarcity</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>

</div>
<!-- //row -->

<div class="panel-group accordion accordion-semi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-1" aria-expanded="true"><i class="fa fa-angle-right"></i> KOR</a></h4>
    </div>
    <div id="mainpage-ac-1" class="panel-collapse collapse in" aria-expanded="true">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">아티스트명</th>
              <td>Dimitri vegas & like mike</td>
            </tr>
            <tr>
              <th class="bg-gray">아티스트 설명</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!</td>
            </tr>
            <tr>
              <th class="bg-gray">상세내용</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!<br>그리스계 벨기에인인 형제는 데뷔 후 스웨디시 하우스 마피아 등 월드 클래스 아티스트들의 전폭적인 서포트를 받기 시작했다.  MADNESS, TREMOR, MAMMOTH, 그리고 HIGHER PLACE 등의 히트트랙은 각각 유투브 조회수 1억을 돌파하는 등 데뷔 이후 이들은 꾸준히 전 세계 팬들의 사랑을 받았다. 세계적인 EDM페스티벌 ‘투모로우랜드(Tomorrowland)’의 호스트 DJ이자 벨기에의 국민 DJ 듀오로 끊임 없이 전 세계 EDM씬의 러브콜을 받고 있다. 작년 전 세계 최고의 DJ를 선발하는 DJ MAG TOP 100 DJs 투표에서 당당히 1위를 거머쥔 형제가 선택한 첫 내한 무대는 바로 스펙트럼 댄스 페스티벌이다.</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-2" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> CHN</a></h4>
    </div>
    <div id="mainpage-ac-2" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">아티스트명</th>
              <td>Dimitri vegas & like mike</td>
            </tr>
            <tr>
              <th class="bg-gray">아티스트 설명</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!</td>
            </tr>
            <tr>
              <th class="bg-gray">상세내용</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!<br>그리스계 벨기에인인 형제는 데뷔 후 스웨디시 하우스 마피아 등 월드 클래스 아티스트들의 전폭적인 서포트를 받기 시작했다.  MADNESS, TREMOR, MAMMOTH, 그리고 HIGHER PLACE 등의 히트트랙은 각각 유투브 조회수 1억을 돌파하는 등 데뷔 이후 이들은 꾸준히 전 세계 팬들의 사랑을 받았다. 세계적인 EDM페스티벌 ‘투모로우랜드(Tomorrowland)’의 호스트 DJ이자 벨기에의 국민 DJ 듀오로 끊임 없이 전 세계 EDM씬의 러브콜을 받고 있다. 작년 전 세계 최고의 DJ를 선발하는 DJ MAG TOP 100 DJs 투표에서 당당히 1위를 거머쥔 형제가 선택한 첫 내한 무대는 바로 스펙트럼 댄스 페스티벌이다.</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion3" href="#mainpage-ac-3" class="collapsed" aria-expanded="false"><i class="fa fa-angle-right"></i> JPN</a></h4>
    </div>
    <div id="mainpage-ac-3" class="panel-collapse collapse" aria-expanded="false">
      <div class="panel-body">
        
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">아티스트명</th>
              <td>Dimitri vegas & like mike</td>
            </tr>
            <tr>
              <th class="bg-gray">아티스트 설명</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!</td>
            </tr>
            <tr>
              <th class="bg-gray">상세내용</th>
              <td>더 이상의 수식어는 필요 없다! DJ MAG 선정 세계 1위 DJ 듀오 드미트리 베가스 앤 라이크 마이크!<br>그리스계 벨기에인인 형제는 데뷔 후 스웨디시 하우스 마피아 등 월드 클래스 아티스트들의 전폭적인 서포트를 받기 시작했다.  MADNESS, TREMOR, MAMMOTH, 그리고 HIGHER PLACE 등의 히트트랙은 각각 유투브 조회수 1억을 돌파하는 등 데뷔 이후 이들은 꾸준히 전 세계 팬들의 사랑을 받았다. 세계적인 EDM페스티벌 ‘투모로우랜드(Tomorrowland)’의 호스트 DJ이자 벨기에의 국민 DJ 듀오로 끊임 없이 전 세계 EDM씬의 러브콜을 받고 있다. 작년 전 세계 최고의 DJ를 선발하는 DJ MAG TOP 100 DJs 투표에서 당당히 1위를 거머쥔 형제가 선택한 첫 내한 무대는 바로 스펙트럼 댄스 페스티벌이다.</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
        
      </div>
      <!-- //panel-body -->
    </div>
  </div>
  <!-- //panel -->
</div>
<!-- //panel-group -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">목록이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="http://i.maniadb.com/images/artist/415/415132.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">아티스트명 이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="http://dimg.donga.com/wps/SPORTS/IMAGE/2014/07/10/65092562.2.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">상세이미지</th>
              <td><img src="../../images/common/blank.png" alt="" data-src="https://dispatch.cdnserbe.net/wp-content/uploads/2017/12/20171206204341_1.jpg" class="js-lazy-img js-toggle-img"></td>
            </tr>
            <tr>
              <th class="bg-gray">Youtube URL</th>
              <td><a href="https://youtu.be/3UOtF4J9wpo" target="_blank">https://youtu.be/3UOtF4J9wpo</a></td>
            </tr>
            <tr>
              <th class="bg-gray">Soundcloud URL</th>
              <td><a href="https://soundcloud.com/smashthehouse/wolpack-vs-diego-miranda-nashville" target="_blank">https://soundcloud.com/smashthehouse/wolpack-vs-diego-miranda-nashville</a></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-12">
    <div class="block-flat">
      <div class="header">
        <h3>Artist SNS</h3>
      </div>
      <div class="content">
        <table class="table no-strip table-bordered">
          <colgroup>
            <col style="width:150px;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <th class="bg-gray">Facebook</th>
              <td>https://www.facebook.com/dimitrivegasandlikemike</td>
            </tr>
            <tr>
              <th class="bg-gray">Twitter</th>
              <td>https://twitter.com/dimitrivegas</td>
            </tr>
            <tr>
              <th class="bg-gray">Instagram</th>
              <td>https://www.instagram.com/dimitrivegasandlikemike/</td>
            </tr>
            <tr>
              <th class="bg-gray">Youtube</th>
              <td>https://www.youtube.com/user/dimitrivegasonline</td>
            </tr>
            <tr>
              <th class="bg-gray">Soundcloud</th>
              <td>https://soundcloud.com/dimitrivegasandlikemike</td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //content -->
    </div>
    <!-- //block-flat -->
  </div>
</div>
<!-- //row -->

<div class="row">
  <div class="col-sm-4">
    <a href="<%= current.links[0] %>" class="btn btn-flat btn-default"><i class="fa fa-list" aria-hidden="true"></i> 목록</a>
  </div>
  <div class="col-sm-4 text-center">
    <button type="button" class="btn btn-flat btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> 삭제</button>
    <a href="<%= current.links[4] %>" class="btn btn-flat btn-primary"><i class="fa fa-wrench" aria-hidden="true"></i> 수정</a>
  </div>
  <div class="col-sm-4 text-right">
    <a href="<%= current.links[3] %>" class="btn btn-flat btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>
<!-- //row -->